{{- if and .Values.ssl.useCertManager .Values.initCertJobImage }}
apiVersion: batch/v1
kind: Job
metadata:
  # Note, we need to add chart version to the name of the job so that
  # this Job will get re-run during upgrade. This is because the
  # certificate object is a helm hook, and will be re-created during
  # an upgrade. See more details in:
  # https://github.com/helm/helm/issues/5482
  name: {{ include "traefik.fullname" . }}-{{ .Chart.Version }}-{{ randAlphaNum 5 | lower }}
  labels:
    chart: {{ template "traefik.chart" . }}
    app: {{ template "traefik.name" . }}
spec:
  template:
    metadata:
      name: "update-traefik-certificate"
    spec:
      serviceAccountName: {{ template "traefik.fullname" . }}-cert-init
      restartPolicy: Never
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.initCertJobImage }}
        imagePullPolicy: IfNotPresent
        args: ["traefik"]
        env:
        {{- if .Values.initCert }}
        - name: "TRAEFIK_INGRESS_NAMESPACE"
          value: {{ .Values.initCert.ingressNamespace | default "kubeaddons" | quote }} 
        - name: "TRAEFIK_INGRESS_SERVICE_NAME"
          value: {{ .Values.initCert.ingressServiceName | default "traefik-kubeaddons" | quote }} 
        - name: "TRAEFIK_INGRESS_CERTIFICATE_NAME"
          value: {{.Values.initCert.ingressCertificateName | default "traefik-kubeaddons" | quote }}
        - name: "TRAEFIK_INGRESS_CERTIFICATE_ISSUER"
          value: {{ .Values.initCert.ingressCertificateIssuer | default "kubernetes-ca" | quote }}
        - name: "TRAEFIK_INGRESS_CERTIFICATE_SECRET_NAME"
          value: {{ .Values.initCert.ingressCertificateSecretName | default "traefik-kubeaddons-certificate" | quote }}
        - name: "TRAEFIK_KONVOY_ADDONS_CONFIG_MAP"
          value: {{ .Values.initCert.konvoyAddonsConfigMap | default "konvoyconfig-kubeaddons" | quote }}
        - name: "TRAEFIK_CLUSTER_HOSTNAME_KEY"
          value: {{ .Values.initCert.clusterHostnameKey | default "clusterHostname" | quote }}
        {{- else }}
        - name: "TRAEFIK_INGRESS_NAMESPACE"
          value: "kubeaddons"
        - name: "TRAEFIK_INGRESS_SERVICE_NAME"
          value: "traefik-kubeaddons"
        - name: "TRAEFIK_INGRESS_CERTIFICATE_NAME"
          value: "traefik-kubeaddons"
        - name: "TRAEFIK_INGRESS_CERTIFICATE_ISSUER"
          value: "kubernetes-ca"
        - name: "TRAEFIK_INGRESS_CERTIFICATE_SECRET_NAME"
          value: "traefik-kubeaddons-certificate"
        - name: "TRAEFIK_KONVOY_ADDONS_CONFIG_MAP"
          value: "konvoyconfig-kubeaddons"
        - name: "TRAEFIK_CLUSTER_HOSTNAME_KEY"
          value: "clusterHostname"
        {{- end }}
{{- end }}
