replicaCount: 1

image:
  repository: mesosphere/kubeaddons-catalog
  tag: v0.8.3
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

ingress:
  enable: false
  # this is a placeholder, add your own hostname for ingress prior to deployment
  hostName: catalog.kubeaddons.localhost
  path: /catalog
  annotations: {}

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 400m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 20Mi

nodeSelector: {}
tolerations: []
affinity: {}
