replicaCount: 1

image:
  repository: mesosphere/kubeaddons-catalog
  tag: stable
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

ingress:
  enable: true
  // this is a placeholder, add your own hostname for ingress prior to deployment
  hostName: catalog.kubeaddons.localhost
  path: /catalog

service:
  type: ClusterIP
  port: 80

crds:
  forceDeploy: false

resources:
  limits:
    cpu: 400m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 20Mi

nodeSelector: {}
tolerations: []
affinity: {}
