global:
  serviceLabels: {}
  image: docker.io/bitnami/kubectl
  tag: 1.22.8

autoscaler:
  activatorCapacity: "100.0"
  containerConcurrencyTargetPercentage: "70"
  containerConcurrencyTargetDefault: "100"
  requestsPerSecondTargetDefault: "200"
  targetBurstCapacity: "200"
  stableWindow: "60s"
  panicWindowPercentage: "10.0"
  panicThresholdPercentage: "200.0"
  maxScaleUpRate: "1000.0"
  maxScaleDownRate: "2.0"
  enableScaleToZero: "true"
  scaleToZeroGracePeriod: "30s"
  scaleToZeroPodRetentionPeriod: "0s"
  podAutoscalerClass: "kpa.autoscaling.knative.dev"
  activatorCapacity: "100.0"
  initialScale: "1"
  allowZeroInitialScale: "false"
  maxScale: "0"

domain: example.com

customMetricsApiservice:
  enabled: true

namespaceKnativeServing:
  additionalLabels: {}

configDeployment:
  registriesSkippingTagResolving: ""

gc:
  staleRevisionCreateDelay: "48h"
  staleRevisionTimeout: "15h"
  staleRevisionMinimumGenerations: "20"
  staleRevisionLastpinnedDebounce: "5h"
  # V2 GC settings
  # To enable V2 GC set responsiveRevisioGC to "allowed"
  responsiveRevisionGC: ""
  # Duration since creation before considering a revision for GC or "disabled".
  retainSinceCreateTime: "48h"
  # Duration since active before considering a revision for GC or "disabled".
  retainSinceLastActiveTime: "15h"
  # Minimum number of non-active revisions to retain.
  minNonActiveRevisions: "20"
  # Maximum number of non-active revisions to retain or "disabled" to disable any maximum limit.
  maxNonActiveRevisions: "1000"
