# Default values for kube-oidc-proxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: quay.io/jetstack/kube-oidc-proxy
  tag: v0.3.0
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 443
  annotations: {}

# These values needs to be set in overrides in order to get kube-oidc-proxy
# working.
oidc:
  # A minimal configuration requires setting clientId, issuerUrl and usernameClaim
  # values.
  clientId: ""
  issuerUrl: ""
  usernameClaim: ""

  # The following `caXXX` options affect the `--oidc-ca-file` flag to
  # the proxy. One can choose one of the following:
  # 1. Use system defaults by setting `caSystemDefault` to `true`
  # 2. Use a custom CA by setting `caPEM` or `caSecretName`
  # 3. Use a custom CA mounted from the host using `caCertPemHostPath`
  # The earlier item in this list will take precedence over the later
  # items in this list. For instance, if `caSystemDefault` is set to
  # `true`, the `caPEM`, `caSecretName` or `caCertPemHostPath` will be
  # ignored even if they are set.
  # -----------------------------------------------------------------
  # caSystemDefault, will disable (not set) the --oidc-ca-file flag
  # to be able to use container image available root CA's
  caSystemDefault: false
  # CA cert that will verify TLS connection to OIDC issuer URL.
  # If not provided service account CA will be used.
  #
  # Specify only one of the following values.
  # ---
  # caPEM
  # This should be provided in PEM format, for example:
  # caPEM: |
  #    -----BEGIN CERTIFICATE-----
  #           ...
  #    -----END CERTIFICATE-----
  caPEM:
  # caSecretName, which includes ca.crt, tls.crt and tls.key
  caSecretName:
  # caCertPemHostPath, which points to a CA bundle on your host
  # machine to use for the proxy. For example:
  # caCertPemHostPath: /etc/ssl/certs/ca-bundle.crt
  caCertPemHostPath:

  usernamePrefix:
  groupsClaim:
  groupsPrefix:

  signingAlgs:
    - RS256
  requiredClaims: {}

# To enable token passthrough feature
# https://github.com/jetstack/kube-oidc-proxy/blob/master/docs/tasks/token-passthrough.md
tokenPassthrough:
  enabled: false
  audiences: []

# To add extra impersonation headers
# https://github.com/jetstack/kube-oidc-proxy/blob/master/docs/tasks/extra-impersonation-headers.md
extraImpersonationHeaders:
  clientIP: false
  # headers: key1=foo,key2=bar,key1=bar

extraArgs: {}
  # audit-log-path: /audit-log
  # audit-policy-file: /audit/audit.yaml

extraVolumeMounts: {}
  # - name: audit
  #   mountPath: /audit
  #   readOnly: true

extraVolumes: {}
  # - configMap:
  #    defaultMode: 420
  #    name: kube-oidc-proxy-policy
  #   name: audit

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: traefik
    # traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# Allows setting the Deployment update strategy
# rollingUpdateStrategy:
#   type: RollingUpdate
#   rollingUpdate:
#     maxSurge: 34%
#     maxUnavailable: 33%

# Enable Pod Disruption Budget
podDisruptionBudget:
  enabled: false
  minAvailable: 1

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

env: {}

initContainers: []

deploymentAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

priorityClassName: ""

# certIssuerRef:
#   kind: ClusterIssuer
#   name: kubernetes-ca
