global:
  image: docker.io/bitnami/kubectl
  tag: 1.19.3

grafana:
  enabled: true
security:
  enabled: true
prometheus:
  enabled: true

istioOperator:
  profile: default

  hub: docker.io/istio
  tag: 1.6.13

  components:
    cni:
      enabled: true
      namespace: kube-system

  addonComponents:
    prometheus:
      enabled: false
    kiali:
      enabled: true
    tracing:
      enabled: true
