apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dex-k8s-authenticator.fullname" . }}
  labels:
    app: {{ template "dex-k8s-authenticator.fullname" . }}
    env: {{ .Values.global.deployEnv }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  config.yaml: |-
    {{- with .Values.dexK8sAuthenticator }}
    listen: http://0.0.0.0:{{ default "5555" .port }}
    web_path_prefix: {{ default "/" .web_path_prefix }}
    debug: {{ default "false" .debug }}
    pluginVersion: {{ .pluginVersion }}
    useClusterHostnameForClusterName: {{ default "false" .useClusterHostnameForClusterName }}
    {{- if .logoUrl }}
    logo_uri: {{ .logoUrl }}
    {{- end }}
    {{- if .idpCaURI }}
    idp_ca_uri: {{ .idpCaURI }}
    {{- end }}
    {{- if .idpCaPem }}
    idp_ca_pem: {{ toYaml .idpCaPem | indent 4 }}
    {{- end }}
    {{- if and .tlsCert .tlsKey }}
    tls_cert: "{{ .tlsCert }}"
    tls_key: "{{ .tlsKey }}"
    {{- end }}
    {{- if .generateHmacSecret }}
    hmac_secret: "${DKA_HMAC_SECRET}"
    {{- end }}
    {{- if .clusters }}
    clusters:
{{ toYaml .clusters | indent 4 }}
    {{- end }}
    {{- end }}
    {{- if .Values.caCerts.enabled }}
    caCerts: "true"
    {{- if .Values.caCerts.useSystemDefault }}
    caCertPath: ""
    {{- else if .Values.caCerts.secrets }}
    caCertPath: /certs/{{ .filename }}
    {{- else }}
    caCertPath: /certs/ca.crt
    {{- end }}
    {{- end }}

