{{- if semverCompare ">= 1.9-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: apps/v1
{{- else if semverCompare ">= 1.8-0, <= 1.9-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: apps/v1
{{- else -}}
apiVersion: apps/v1
{{- end }}
kind: Deployment
metadata:
  name: {{ template "dex-k8s-authenticator.fullname" . }}
  labels:
    app: {{ template "dex-k8s-authenticator.name" . }}
    env: {{ .Values.global.deployEnv }}
    chart: {{ template "dex-k8s-authenticator.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- if .Values.deploymentAnnotations }}
  annotations:
{{ toYaml .Values.deploymentAnnotations | indent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "dex-k8s-authenticator.name" . }}
      env: {{ .Values.global.deployEnv }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "dex-k8s-authenticator.name" . }}
        env: {{ .Values.global.deployEnv }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
{{- if .Values.initContainers }}
      initContainers:
        {{- toYaml .Values.initContainers | nindent 8 }}
          volumeMounts:
{{- if .Values.caCerts.enabled }}
{{- if .Values.caCerts.secrets }}
{{- range .Values.caCerts.secrets }}
          - name: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
            mountPath: /certs/
{{- end }}
{{- else if .Values.caCerts.caSecretName }}
          - name: {{ template "dex-k8s-authenticator.fullname" $ }}-ca-certificate
            mountPath: /certs/
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.rbac.create }}
      serviceAccountName: {{ template "dex-k8s-authenticator.fullname" . }}
{{- end }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: [ "--config", "/app/configuration/config.yaml" ]
        ports:
        - name: http
          containerPort: {{ default "5555" .Values.dexK8sAuthenticator.port }}
          protocol: TCP
        livenessProbe:
          failureThreshold: {{ .Values.dexK8sAuthenticator.livenessProbe.failureThreshold }}
          timeoutSeconds: {{ .Values.dexK8sAuthenticator.livenessProbe.timeoutSeconds }}
          periodSeconds: {{ .Values.dexK8sAuthenticator.livenessProbe.periodSeconds }}
          initialDelaySeconds: {{ .Values.dexK8sAuthenticator.livenessProbe.initialDelaySeconds }}
          httpGet:
            path: {{ template "dex-k8s-authenticator.healthCheckPath" . }}
            port: http
        readinessProbe:
          failureThreshold: {{ .Values.dexK8sAuthenticator.readinessProbe.failureThreshold }}
          timeoutSeconds: {{ .Values.dexK8sAuthenticator.readinessProbe.timeoutSeconds }}
          periodSeconds: {{ .Values.dexK8sAuthenticator.readinessProbe.periodSeconds }}
          initialDelaySeconds: {{ .Values.dexK8sAuthenticator.readinessProbe.initialDelaySeconds }}
          httpGet:
            path: {{ template "dex-k8s-authenticator.healthCheckPath" . }}
            port: http
        volumeMounts:
        - name: config
          mountPath: /app/configuration/
        - name: html-templates
          mountPath: /app/templates/
{{- if .Values.caCerts.enabled }}
{{- if .Values.caCerts.secrets }}
{{- range .Values.caCerts.secrets }}
        - name: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
          mountPath: /certs/
{{- end }}
{{- else if .Values.caCerts.caSecretName }}
        - name: {{ template "dex-k8s-authenticator.fullname" $ }}-ca-certificate
          mountPath: /certs/
{{- end }}
{{- end }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        env:
          {{- range $key, $value := .Values.env }}
          - name: {{ $key | quote }}
            value: {{ tpl $value $ | quote }}
          {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 6 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
    {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ template "dex-k8s-authenticator.fullname" . }}
          items:
          - key: config.yaml
            path: config.yaml
      - name: html-templates
        configMap:
          name: {{ template "dex-k8s-authenticator.fullname" . }}-html-templates
          items:
{{- range $path, $bytes :=  .Files.Glob "html-templates/*" }}
          - key: {{ base $path }}
            path: {{ base $path }}
{{- end }}
{{- if .Values.caCerts.enabled }}
{{- if .Values.caCerts.secrets }}
{{- range .Values.caCerts.secrets }} 
      - name: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
        secret:
          secretName: {{ template "dex-k8s-authenticator.fullname" $ }}-{{ .name }}
          items:
          - key: {{ .name }}
            path: {{ .filename }}
{{- end }}
{{- else if .Values.caCerts.caSecretName }}
      - name: {{ template "dex-k8s-authenticator.fullname" $ }}-ca-certificate
        secret:
          secretName: {{ .Values.caCerts.caSecretName }}
          items:
          - key: ca.crt
            path: ca.crt
{{- end }}
{{- end }}
