# Default values for gatekeeper.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Provide a name in place of prometheus-operator for `app:` labels
##
nameOverride: ""

## Provide a name to substitute for the full names of resources
##
fullnameOverride: ""

## Labels to apply to all resources
##
commonLabels: {}
# scmhash: abc123
# myLabel: aakkmd

## Number of replicas by default
replicas: 2

auditInterval: 60
constraintViolationsLimit: 20
auditFromCache: false
disableValidatingWebhook: false
auditChunkSize: 0
logLevel: INFO
emitAdmissionEvents: false
emitAuditEvents: false
port: 8443

image:
  repository: openpolicyagent/gatekeeper
  release: v3.4.0-rc.1
  pullPolicy: IfNotPresent

service:
  annotations: {}
  type: ClusterIP
  port: 443

  # For nodeport, specify the following:
  #   type: NodePort
  #   nodePort: <port-number>

nodeSelector:
  kubernetes.io/os: linux

tolerations: []

affinity: {}

podAnnotations:
  container.seccomp.security.alpha.kubernetes.io/manager: runtime/default

controllerManager:
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

audit:
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

# To _fail closed_ on failures, change to Fail. During initial testing, we
# recommend leaving the failure policy as Ignore.
admissionControllerFailurePolicy: Ignore

# Adds a namespace selector to the admission controller webhook
admissionControllerNamespaceSelector:
  matchExpressions: []

# Adds an object selector to the admission controller webhook
admissionControllerObjectSelector:
  matchExpressions: []
  # - {key: foo, operator: NotIn, values: ["bar"]}
  matchLabels: []
  # - foo: bar

# Webhook configuration
webhook:
  # Setup the webhook using cert-manager
  certManager:
    enabled: false

kubectlImage: bitnami/kubectl:1.15

# enable mutations
mutations:
  enable: false

  # proxy settings
  enablePodProxy: false

  podProxySettings:
    noProxy:
    httpProxy:
    httpsProxy:

  # apply mutations on objects whose labels match namespace labels
  namespaceSelectorForProxy: {}

  # disable the following namespaces
  excludeNamespacesFromProxy: []
