# Default values for cosi-driver-nutanix.
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  nameOverride: ""

# cosi-driver-nutanix sidecar image.
image:
  registry: ghcr.io
  repository: nutanix-cloud-native/cosi-driver-nutanix
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: IfNotPresent

replicas: 1

# Secret used by the cosi-driver-nutanix sidecar for objects management.
secret:
  enabled: true
  # Nutanix Object Store instance endpoint, eg. "http://10.51.142.82:80".
  endpoint: ""
  # Admin IAM Access key to be used for Nutanix Objects.
  access_key: ""
  # Admin IAM Secret key to be used for Nutanix Objects.
  secret_key: ""
  # PC Credentials.
  pc_ip: ""
  pc_port: "9440"
  pc_username: "admin"
  pc_password: ""
  # Account Name is a displayName identifier Prefix for Nutanix.
  # Objects to ensure that multiple requests for the same account
  # result in only one access token being created.
  # (Default_Prefix: ntnx-cosi-iam-user)
  account_name: "ntnx-cosi-iam-user"

# COSI central controller specifications.
cosiController:
  replicas: 1
  enabled: true
  logLevel: 5
  image:
    registry: gcr.io
    repository: k8s-staging-sig-storage/objectstorage-controller
    tag: v20250110-a29e5f6
    pullPolicy: Always

# COSI sidecar specifications.
objectstorageProvisionerSidecar:
  logLevel: 5
  image:
    registry: gcr.io
    repository: k8s-staging-sig-storage/objectstorage-sidecar/objectstorage-sidecar
    tag: v20221117-v0.1.0-22-g0e67387
    pullPolicy: Always
