federate:
  kubeaddonsInitializer:
    repository: "mesosphere/kubeaddons-addon-initializer"
    tag: "v0.2.8"
    pullPolicy: IfNotPresent

# labels to append to the namespace where kommander is deployed
namespaceLabels: []

global:
  federate:
    airgapped:
      enabled: false
      chartRepo: http://konvoy-addons-chart-repo.kubeaddons.svc:8879

ingress:
  extraAnnotations:
    traefik.ingress.kubernetes.io/priority: "2"

kommander-federation:
  enabled: true
  utilityApiserver:
    minimumKubernetesVersion: 1.16.0
  certificates:
    issuer:
      name: kubernetes-ca
      kind: ClusterIssuer
  konvoy:
    allowUnofficialReleases: false
  kubefed:
    controllermanager:
      annotations:
        secret.reloader.stakater.com/reload: "kubefed-admission-webhook-serving-cert"
      webhook:
        annotations:
          secret.reloader.stakater.com/reload: "kubefed-admission-webhook-serving-cert"

kommander-licensing:
  enabled: true
  certificates:
    issuer:
      name: kubernetes-ca
      kind: ClusterIssuer

kommander-thanos:
  enabled: true
  thanosAddress: "prometheus-kubeaddons-prom-prometheus.kubeaddons.svc.cluster.local:10901"
  thanos:
    query:
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: kommander-thanos-client-tls

kommander-karma:
  enabled: true
  alertmanagerAddress: "prometheus-kubeaddons-prom-alertmanager.kubeaddons.svc.cluster.local:9093"
  karma:
    deployment:
      annotations:
        configmap.reloader.stakater.com/reload: kommander-kubeaddons-config

kubeaddons-catalog:
  enabled: true
  ingress:
    enable: false
    hostName: catalog.kubeaddons.localhost
    annotations: {}

grafana:
  enabled: true

  service:
    type: ClusterIP
    port: 80

  homeDashboard:
    name: "Kubernetes / Compute Resources / Cluster [Global]"
    cronJob:
      name: set-grafana-home-dashboard
      image: apteno/alpine-jq:2021-01-19

  hooks:
    image: apteno/alpine-jq:2021-01-19
    secretKeyRef: ops-portal-username

  ## Do not deploy default dashboards.
  ##
  defaultDashboardsEnabled: false

  ## Grafana's primary configuration
  ## NOTE: values in map will be converted to ini format
  ## ref: http://docs.grafana.org/installation/configuration/
  ##
  grafana.ini:
    server:
      protocol: http
      enable_gzip: true
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/ops/portal/kommander/monitoring/grafana"
    auth.proxy:
      enabled: true
      header_name: X-Forwarded-User
      auto-sign-up: true
    auth.basic:
      enabled: false
    users:
      auto_assign_org_role: Admin

  ingress:
    ## If true, Grafana Ingress will be created
    ##
    enabled: true

    ## Annotations for Grafana Ingress
    ##
    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.frontend.rule.type: "PathPrefixStrip"
      traefik.ingress.kubernetes.io/auth-response-headers: "X-Forwarded-User"
      traefik.ingress.kubernetes.io/auth-type: "forward"
      traefik.ingress.kubernetes.io/auth-url: "http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/"
      traefik.ingress.kubernetes.io/priority: "4"

    ## Labels to be added to the Ingress
    ##
    labels: {}

    ## Hostnames.
    ## Must be provided if Ingress is enable.
    ##
    # hosts:
    #   - grafana.domain.com
    hosts:
      - ""

    ## Path for grafana ingress
    path: /ops/portal/kommander/monitoring/grafana

    ## TLS configuration for grafana Ingress
    ## Secret must be manually created in the namespace
    ##
    tls: []
    # - secretName: grafana-general-tls
    #   hosts:
    #   - grafana.example.com

  ## Configure grafana datasources
  ## ref: http://docs.grafana.org/administration/provisioning/#datasources
  ##
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: ThanosQuery
          type: prometheus
          url: http://kommander-kubeaddons-thanos-query-http.kommander.svc.cluster.local:10902/
          access: proxy
          isDefault: true
        - name: KommanderPrometheus
          type: prometheus
          url: http://prometheus-kubeaddons-prom-prometheus.kubeaddons.svc.cluster.local:9090/
          access: proxy
          isDefault: false

  ## Sidecars that collect the configmaps with specified label and stores the included files them into the respective folders
  ## Requires at least Grafana 5 to work and can't be used together with parameters dashboardProviders, datasources and dashboards
  sidecar:
    image: kiwigrid/k8s-sidecar:1.3.0
    dashboards:
      enabled: true
      # label that the configmaps with dashboards are marked with
      label: grafana_dashboard_kommander
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
      # label that the configmaps with datasources are marked with
      label: grafana_datasource_kommander
      # If specified, the sidecar will search for datasource config-maps inside this namespace.
      # Otherwise the namespace in which the sidecar is running will be used.
      # It's also possible to specify ALL to search in all namespaces
      searchNamespace: null

  # to avoid needing to download any plugins at runtime, use a container and a shared volume
  # do not enable the plugins here, instead rebuild the mesosphere/grafana-plugins image with the new plugins
  plugins: []
  #  - grafana-piechart-panel
  extraEmptyDirMounts:
    - name: plugins
      mountPath: /var/lib/grafana/plugins/
  extraInitContainers:
    - name: grafana-plugins-install
      image: mesosphere/grafana-plugins:v0.0.1
      command:
        [
          "/bin/sh",
          "-c",
          "cp -a /var/lib/grafana/plugins/. /var/lib/grafana/shared-plugins/",
        ]
      volumeMounts:
        - name: plugins
          mountPath: /var/lib/grafana/shared-plugins/

kommander-ui:
  showCost: true
  impersonateUser: true
  showCD: true
  ingress:
    enabled: true
    traefikFrontendRuleType: PathPrefixStrip
    extraAnnotations:
      traefik.ingress.kubernetes.io/priority: "4"
      traefik.ingress.kubernetes.io/auth-type: forward
      traefik.ingress.kubernetes.io/auth-url: http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/
      traefik.ingress.kubernetes.io/auth-response-headers: X-Forwarded-User,Impersonate-User,Impersonate-Group
    path: /ops/portal/kommander/ui
    graphqlPath: /ops/portal/kommander/ui/graphql
  podAnnotations: {}
  #  iam.amazonaws.com/role: xyz

portalRBAC:
  grafana:
    enabled: true
  kommanderUserInterface:
    enabled: true

kubecost:
  thanosAddress: "kubecost-kubeaddons-prometheus-server.kubecost.svc.cluster.local:10901"
  federate:
    addons: true
    systemNamespace:
      name: kommander-system

  cost-analyzer:
    enabled: true

    fullnameOverride: "kommander-kubecost-cost-analyzer"
    global:
      # We need to specify full domain name explicity in order to make
      # http_proxy work.  Otherwise requests go through proxy instead directly
      zone: cluster.local
      prometheus:
        # If false, Prometheus will not be installed -- only actively supported on paid Kubecost plans
        enabled: true

      thanos:
        enabled: true
        queryService: http://kommander-kubecost-thanos-query-http.kommander.svc.cluster.local:10902
        # The wait time before Kommander begins querying cost data for all attached clusters
        queryOffset: 5m
        query:
          deploymentAnnotations:
            secret.reloader.stakater.com/reload: kommander-kubecost-thanos-client-tls

      grafana:
        # If false, Grafana will not be installed
        enabled: false
        # Use kommander monitoring Grafana instance
        domainName: kommander-kubeaddons-grafana.kommander.svc.cluster.local

    # For Thanos Installs, Allow Higher Concurrency from Cost-Model
    # Still may require tweaking for some installs, but the thanos-query-frontend
    # will greatly assist in reduction memory bloat in query.
    kubecostModel:
      maxQueryConcurrency: 5
      # This configuration is applied to thanos only. Expresses the resolution to
      # use for longer query ranges. Options: raw, 5m, 1h - Default: raw
      maxSourceResolution: 5m

    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: traefik
        traefik.frontend.rule.type: PathPrefixStrip
        ingress.kubernetes.io/auth-response-headers: X-Forwarded-User
        traefik.ingress.kubernetes.io/auth-response-headers: X-Forwarded-User
        traefik.ingress.kubernetes.io/auth-type: forward
        traefik.ingress.kubernetes.io/auth-url: http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/
        traefik.ingress.kubernetes.io/priority: "4"
      paths:
        - "/ops/portal/kommander/kubecost/frontend/"
      hosts:
        - ""
      tls: []

    grafana:
      # These values are set so that kubecost grafana dashboards are installed.
      # Grafana itself is not installed.
      sidecar:
        image: kiwigrid/k8s-sidecar:1.3.0
        dashboards:
          enabled: true
          label: grafana_dashboard_kommander
        datasources:
          enabled: true
          defaultDatasourceEnabled: false
          dataSourceName: KubecostPrometheus
          label: grafana_datasource_kommander

    prometheus:
      fullnameOverride: "kommander-kubecost-prometheus"
      server:
        fullnameOverride: "kommander-kubecost-prometheus-server"
      alertmanager:
        fullnameOverride: "kommander-kubecost-prometheus-alertmanager"
      kube-state-metrics:
        fullnameOverride: "kommander-kubecost-prometheus-kube-state-metrics"

      configmapReload:
        prometheus:
          image:
            tag: v0.5.0
        alertmanager:
          image:
            tag: v0.5.0

    thanos:
      fullnameOverride: "kommander-kubecost-thanos"
      nameOverride: "kubecost-thanos"
      store:
        enabled: false
      query:
        enabled: true
        timeout: 3m
        maxConcurrent: 10
        # Name of HTTP request header used for dynamic prefixing of UI links and redirects.
        webPrefixHeader: "X-Forwarded-Prefix"
        http:
          service:
            labels:
              servicemonitor.kubeaddons.mesosphere.io/path: "metrics"
          ingress:
            enabled: true
            annotations:
              kubernetes.io/ingress.class: "traefik"
              traefik.frontend.rule.type: "PathPrefixStrip"
              traefik.ingress.kubernetes.io/auth-response-headers: "X-Forwarded-User"
              traefik.ingress.kubernetes.io/auth-type: "forward"
              traefik.ingress.kubernetes.io/auth-url: "http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/"
              traefik.ingress.kubernetes.io/priority: "4"
            path: "/ops/portal/kommander/kubecost/query"
            hosts:
              - ""
            tls: []
        # Enable DNS discovery for stores
        storeDNSDiscovery: false
        # Enable DNS discovery for sidecars (this is for the chart built-in sidecar service)
        sidecarDNSDiscovery: false
        # Names of configmaps that contain addresses of store API servers, used for file service discovery.
        serviceDiscoveryFileConfigMaps:
          - kubecost-thanos-query-stores
        # Refresh interval to re-read file SD files. It is used as a resync fallback.
        serviceDiscoveryInterval: 5m
        extraArgs:
          - "--log.format=json"
          - "--grpc-client-tls-secure"
          - "--grpc-client-tls-cert=/etc/certs/tls.crt"
          - "--grpc-client-tls-key=/etc/certs/tls.key"
          - "--grpc-client-tls-ca=/etc/certs/ca.crt"
          - "--grpc-client-server-name=server.thanos.localhost.localdomain"
        certSecretName: kommander-kubecost-thanos-client-tls
      sidecar:
        enabled: false
      bucket:
        enabled: false
      compact:
        enabled: false

    kubecostProductConfigs:
      grafanaURL: "/ops/portal/kommander/monitoring/grafana"
      # used for display in Kubecost UI
      clusterName: "Kommander Host"
