image:
  repository: mesosphere/kommander
  tag: 1.153.1
  pullPolicy: IfNotPresent
replicas: 1
logoutRedirectPath: /ops/landing
clusterPollingInterval: 3000
hostPollingInterval: 3000
clusterPollingThrottleFactor: 1
kubernetesVersionsSelection: '[{"kubernetesVersion":"1.15.5","konvoyVersion":"v1.3.0-beta6","kubeaddonsVersion":"kommander-beta6"}]'

# Mode must be either production|konvoy
mode: production

displayName: Konvoy Cluster

extraInitContainers:

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "2000m"

readinessProbe:
  initialDelaySeconds: 15
  periodSeconds: 10
livenessProbe:
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 3

### This must match the serviceName set in the ingress backend below
service:
  name: kommander

ingress:
  traefikFrontendRuleType: PathPrefixStrip
  extraAnnotations:
    traefik.ingress.kubernetes.io/priority: "1"
    traefik.ingress.kubernetes.io/auth-type: forward
    traefik.ingress.kubernetes.io/auth-url: http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/
    traefik.ingress.kubernetes.io/auth-response-headers: X-Forwarded-User
  path: /ops/portal/kommander

federate:
  kubeaddonsInitializer:
    repository: "mesosphere/kubeaddons-addon-initializer"
    tag: "v0.1.1"
    pullPolicy: IfNotPresent

  systemNamespace:
    enable: true
    name: kommander-system

  kubeaddons:
    image:
      repository: "mesosphere/kubeaddons"
      tag: "v0.5.3"
      pullPolicy: IfNotPresent

# This name must match the name of the kubefed dep
# in order to override values.
kubefed:
  # set to false if you wish to run kommander without deploying kubefed (not recommended)
  enabled: true
  controllermanager:
    # override value is necessary due to a "featureGates":interface {}(nil)... spec.featureGates in body must be of type array: "null"
    # bug found
    featureGates:
      CrossClusterServiceDiscovery: "Disabled"
      FederatedIngress: "Enabled"
      PushReconciler: "Enabled"
      SchedulerPreferences: "Disabled"

kommander-cluster-lifecycle:
  enabled: true

  certificates:
    issuer:
      name:
      kind: Issuer
      selfSigned: false
  konvoy:
    allowUnofficialReleases: false
  kubeaddonsConfigs:
    versionStrategy: repository-tag  # One of: `repository-tag`, `mapped-kubernetes-version`, `master`,
    versionCacheRefreshInterval: 1h  # A duration as specified in https://golang.org/pkg/time/#ParseDuration
    versionMap: {}  # Only applicable for `versionStrategy` of `mapped-kubernetes-version`

kommander-thanos:
  enabled: true
  thanosAddress: "prometheus-kubeaddons-prom-prometheus.kubeaddons.svc.cluster.local:10901"

kommander-karma:
  enabled: true
  alertmanagerAddress: "prometheus-kubeaddons-prom-alertmanager.kubeaddons.svc.cluster.local:9093"

kubeaddons-catalog:
  enabled: true

  image:
    repository: mesosphere/kubeaddons-catalog
    tag: "v0.5.3"
    pullPolicy: IfNotPresent

grafana:
  enabled: true

  ## Do not deploy default dashboards.
  ##
  defaultDashboardsEnabled: false

  ## Grafana's primary configuration
  ## NOTE: values in map will be converted to ini format
  ## ref: http://docs.grafana.org/installation/configuration/
  ##
  grafana.ini:
    server:
      protocol: http
      enable_gzip: true
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/kommander/monitoring/grafana"
    auth.proxy:
      enabled: true
      header_name: X-Forwarded-User
      auto-sign-up: true
    auth.basic:
      enabled: false
    users:
      auto_assign_org_role: Admin

  ingress:
    ## If true, Grafana Ingress will be created
    ##
    enabled: true

    ## Annotations for Grafana Ingress
    ##
    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.frontend.rule.type: "PathPrefixStrip"
      traefik.ingress.kubernetes.io/auth-response-headers: "X-Forwarded-User"
      traefik.ingress.kubernetes.io/auth-type: "forward"
      traefik.ingress.kubernetes.io/auth-url: "http://traefik-forward-auth-kubeaddons.kubeaddons.svc.cluster.local:4181/"
      traefik.ingress.kubernetes.io/priority: "2"

    ## Labels to be added to the Ingress
    ##
    labels: {}

    ## Hostnames.
    ## Must be provided if Ingress is enable.
    ##
    # hosts:
    #   - grafana.domain.com
    hosts:
      - ""

    ## Path for grafana ingress
    path: /kommander/monitoring/grafana

    ## TLS configuration for grafana Ingress
    ## Secret must be manually created in the namespace
    ##
    tls: []
    # - secretName: grafana-general-tls
    #   hosts:
    #   - grafana.example.com

  ## Configure grafana datasources
  ## ref: http://docs.grafana.org/administration/provisioning/#datasources
  ##
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: ThanosQuery
        type: prometheus
        url: http://kommander-kubeaddons-thanos-query-http.kommander:10902/
        access: proxy
        isDefault: true
      - name: KommanderPrometheus
        type: prometheus
        url: http://prometheus-kubeaddons-prom-prometheus.kubeaddons:9090/
        access: proxy
        isDefault: false

  ## Sidecars that collect the configmaps with specified label and stores the included files them into the respective folders
  ## Requires at least Grafana 5 to work and can't be used together with parameters dashboardProviders, datasources and dashboards
  sidecar:
    dashboards:
      enabled: true
      # label that the configmaps with dashboards are marked with
      label: grafana_dashboard_kommander
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
      # label that the configmaps with datasources are marked with
      label: grafana_datasource_kommander
      # If specified, the sidecar will search for datasource config-maps inside this namespace.
      # Otherwise the namespace in which the sidecar is running will be used.
      # It's also possible to specify ALL to search in all namespaces
      searchNamespace: null
