image:
  repository: mesosphere/kommander
  tag: 1.50.0
  pullPolicy: IfNotPresent
replicas: 1
logoutRedirectPath: /ops/landing
clusterPollingInterval: 3000
clientPollingInterval: 3000


# Mode must be either production|konvoy
mode: production

displayName: Konvoy Cluster

# Konvoy ui should NOT create the CRD if Kommander already did it
createObservableClusterCRD: true

extraInitContainers:

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "2000m"

readinessProbe:
  initialDelaySeconds: 15
  periodSeconds: 3
livenessProbe:
  initialDelaySeconds: 15
  periodSeconds: 3

### This must match the serviceName set in the ingress backend below
service:
  name: kommander

ingress:
  traefikFrontendRuleType: PathPrefixStrip
  # extraAnnotations:
  #   ingress.kubernetes.io/foo: bar
  path: /ops/portal/kommander
