apiVersion: v1
kind: Service
metadata:
  labels:
    app: controller
    serving.knative.dev/release: {{ .Chart.AppVersion | quote }}
  name: controller
  namespace: knative-serving
spec:
  ports:
  - name: metrics
    port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: controller
