apiVersion: v1
kind: Config
preferences: {}
current-context: {{ .CurrentContext }}
{{- if .Clusters }}
clusters:
{{- range $cluster := .Clusters }}
- cluster:
    {{- if $cluster.CertificateData }}
    certificate-authority-data: {{ $cluster.CertificateData }}
    {{- end }}
    server: {{ $cluster.Server }}
  name: {{ $cluster.Name }}
{{- end }}
{{- if .Contexts }}
contexts:
{{- range $context := .Contexts }}
- context:
    cluster: {{ $context.Cluster }}
    user: {{ $context.User }}
  name: {{ $context.Name }}
{{- end }}
{{- end }}
{{- if .Users }}
users:
{{- range $user := .Users }}
- name: {{ $user.Name }}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: {{ $user.Command }}
      env: null
      args:
      - -auth-url={{ $user.AuthURL }}
      - -kubeconfig-user={{ $user.Name }}
     {{- if $user.CertificateData }}
      - -ca-data={{ $user.CertificateData }}
     {{- end }}
{{- end }}
{{- end }}
{{- end }}
