<h1>Build kubeconfig with kubectl</h1>
{{ if .caPem }}
    <h2>Copy Cluster CA Certificate</h2>
    <p>This is the CA certificate needed to validate connections to your cluster. If your cluster is using a well known
        certificate authority, such as Let's Encrypt, or you have added your CA certificate to your system certificate pool;
        you may skip this section.</p>
    <div class="command">

        <button class="btn" style="float:right" data-clipboard-snippet="">
            <img class="clippy" width="13" src="{{ .webPrefixPath }}static/clippy.svg" alt=""/>
        </button>
        <pre><code>mkdir -p ${HOME}/.kube/certs/{{ .clusterName }}/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ .clusterName }}/k8s-ca.crt
{{ .caPem }}
EOF</code></pre>
    </div>
{{ end }}

<h2>Download and Install the Konvoy credentials plugin</h2>
<p>The plugin is currently available for Linux and MacOSX. Use the following command appropriate
  for your operating system< to download and install the plugin</p>
<h3>OSX:</h3>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
{{ if .caPem }}
  <pre><code>curl --create-dirs --cacert ${HOME}/.kube/certs/{{ .clusterName }}/k8s-ca.crt -sL {{ .darwinURL }} \
      -o ${HOME}/{{ .installPath }} && \
      chmod +x ${HOME}/{{ .installPath }}
    </code></pre>
{{ else }}
    <pre><code>curl --create-dirs {{ .darwinURL }} \
      -o ${HOME}/{{ .installPath }} && \
      chmod +x ${HOME}/{{ .installPath }}
    </code></pre>
{{ end }}
</div>
<h3>LINUX:</h3>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
    {{ if .caPem }}
        <pre><code>curl --create-dirs --cacert ${HOME}/.kube/certs/{{ .clusterName }}/k8s-ca.crt -sL {{ .linuxURL }} \
      -o ${HOME}/{{ .installPath }} && \
      chmod +x ${HOME}/{{ .installPath }}
    </code></pre>
    {{ else }}
        <pre><code>curl --create-dirs {{ .linuxURL }} \
      -o ${HOME}/{{ .installPath}}} && \
      chmod +x ${HOME}/{{ .installPath }}
    </code></pre>
    {{ end }}
</div>

<h2>Configure kubect to Use the Plugin</h2>
<p>These commands will crate a new kubeconfig context that instruct kubectl to delegate authentication tasks to
the Konvoy credentials plugin</p>

<h3>Create a cluster configuration</h3>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>
{{- if .caPem }}
  kubectl config set-cluster {{ .clusterName }} \
      --certificate-authority=${HOME}/.kube/certs/{{ .clusterName }}/k8s-ca.crt \
      --server={{ .kubeAPI }}
{{- else }}
  kubectl config set-cluster {{ .clusterName }} \
      --server={{ .kubeAPI }}
{{- end }}
  </code></pre>
</div>

<h3>Create a kubeconfig User Profile</h3>
<p>If you plan on authenticating to the same cluster with multiple users, you should created multiple user profiles</p>
<label for="plugin-profile-name-input">Set profile name:</label>
<input type="text" id="plugin-profile-name-input" value="{{ .profileName }}" onsubmit="SetProfileName()">
<button type="button" id="plugin-profile-name-button" onclick="SetProfileName()">Ok</button>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>kubectl config set-credentials {{ .profileName }} \
      --exec-command={{ .runPath }} \
      --exec-api-version=client.authentication.k8s.io/v1beta1 \
      --exec-arg="-auth-url={{ .asyncAuthURL }}" \
      --exec-arg="-kubeconfig-user={{ .profileName }}" \
      --exec-arg="-ca-file=${HOME}/.kube/certs/{{ .clusterName }}/k8s-ca.crt"
    </code></pre>
</div>
<h3>Create the context</h3>
<p>A kubeconfig context is a cluster and user profile</p>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>kubectl config set-context {{ .clusterName }} \
      --cluster={{ .clusterName }} \
      --user={{ .profileName }}
  </code></pre>
</div>
<h3>Set the active context</h3>
<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .webPathPrefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>kubectl config use-context {{ .clusterName }}
  </code></pre>
</div>
