{{- if .Values.vaultRepo.enabled }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "nvidia-driver.fullname" . }}-centos7-vault-repo
  namespace: kube-system
data:
  CentOS-Vault.repo: |
    # CentOS Vault contains rpms from the CentOS-7.6.1810 Base and Updates

    # C7.6.1810
    [C7.6.1810-base]
    name=CentOS-7.6.1810 - Base
    baseurl=http://vault.centos.org/7.6.1810/os/$basearch/
    gpgcheck=1
    gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
    enabled=1

    [C7.6.1810-updates]
    name=CentOS-7.6.1810 - Updates
    baseurl=http://vault.centos.org/7.6.1810/updates/$basearch/
    gpgcheck=1
    gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
    enabled=1
{{- end }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "nvidia-driver.fullname" . }}-wrapper-sh
  namespace: kube-system
data:
  wrapper.sh: |
    #!/bin/bash
    mkdir -p /lib/modules/$(uname -r)/proc
    cp /proc/version /lib/modules/$(uname -r)/proc/version
    /usr/local/bin/nvidia-driver init -a
