apiVersion: batch/v1
kind: Job
metadata:
  name: label-ns-{{ .Values.global.tag | printf "%v" | trunc 32 }}
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
      serviceAccountName: istio-citadel-service-account 
      containers:
        - name: ns-labeler
          image: "{{ .Values.global.hub }}/kubectl:{{ .Values.global.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          command: ["kubectl", "label", "ns", {{ .Release.Namespace }}, "ca.istio.io/override=true", "--overwrite=true"]
      restartPolicy: OnFailure
